
<div class="mb-3 p-5">
<h1>Stupid Coaching</h1>

<p>Ask your coach anything</p>


<div>
  <form action="/answer" class="row row-cols-lg-auto g-3 align-items-center" data-turbo="false">
    <div class="col-12">
      <input type="text" class="form-control" name="question" value= <%params%>>
      <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
  </form>
</div>
</div>
